<div class="container mt-2">
    <ng-container *ngIf="projet | async as listProjets;else failureOrLading">
        <div class="card">
            <div class="card-header">Projets</div>
            <div class="card-body">
                <div *ngIf="searchFormGroup">
                    <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchprojets()">
                        <div class="input-group">
                            <label class="input-group-text">keyword:</label>
                            <input type="text" formControlName="keyword" class="form-control">
                            <button class="btn btn-info">
                                <i class="bi-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th><th>Name</th><th>Date_debut</th><th>Date_fin</th><th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let p of projet | async">
                         <td>{{p.id}}</td>
                        <td>{{p.name}}</td>
                        <td>{{p.date_debut | date}}</td>
                        <td>{{p.date_fin | date}}</td>
                        <td>{{p.status}}</td>



                        <td>
                            <button (click)="handleDeleteProjet(p)" class="btn btn-danger">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </ng-container>
    <ng-template #failureOrLading >
        <ng-container *ngIf="errorMessage; else loading">

            <div class="text-danger">
                {{errorMessage}}
            </div>
        </ng-container>
        <ng-template #loading>
            Loading......
        </ng-template>
    </ng-template>
</div>

